<div class="container">
  <div class="row">
    <div class="col-xs-3">
        <a href="#">
          <div class="opcao1"></div>
        </a>
    </div>
    <div class="col-xs-3" >
        <a [routerLink]="['/promocoes']">
            <div class="opcao2"></div>
          </a>
    </div>
    <div class="col-xs-3">
        <a href="#">
            <div class="opcao3"></div>
          </a>
    </div>
    <div class="col-xs-3">
        <a href="#">
            <div class="opcao4"></div>
          </a>
  </div>
</div>
