.barramenu{
    background-image: url("/assets/barramenu.png");
    padding-left: 260px;
    padding-top: 413px;
    background-repeat: no-repeat;
}

@keyframes elemento {
    0% {
      background-image: url("/assets/barramenu.png");
      padding-left: 0px;
      padding-top: 0px;
    }
    100% {
        background-image: url("/assets/barramenu.png");
        padding-left: 260px;
        padding-top: 413px;
    }
  }

    .barramenu{	
    animation-direction: alternate;		
      animation: elemento 1s ease-in 0s ;
  }

